/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
Please refer to line 103 for Mark Berry's Work*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}
/*This Is Where My Personal Style Sheet Begins*/
body{
  background-color: #282c34;
}
header{
  width: 100%;
  height: 80px;
  display: block;
  background-color: black;
}
nav{
  float: left;
}
nav li{
  display: inline-block;
  margin: 20px;
  padding: 10px;
}

nav a{
  color: #a1b1be;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
}
nav a:hover{
  color: white;
}
.space{
  margin: 100px;
}

.basic{
  color: #a1b1be;
  font-size: 20px;
  margin: 20px;
}

.profile_picture{
  margin: 20px;
  }

.about_me{
  color: #a1b1be;
  font-size: 20px;
  margin: 20px;
}
.interestinit{
  color: #a1b1be;
  font-size: 20px;
  margin: 20px;
}
.ideal_job_text{
  color: #a1b1be;
  font-size: 20px;
  margin: 20px;
}
.job_add{
  margin: 20px;
}
.mbtest{
  margin: 20px;
}
.space{
  line-height: 100px;
}
.reflection{
  color: #a1b1be;
  font-size: 20px;
  margin: 20px;
}
.mblink{
  text-transform: uppercase;
  font-size: 18px;
  margin: 20px;
}
.tclink{
  text-transform: uppercase;
  font-size: 18px;
  margin: 20px;
}
.tctest{
  margin: 20px;
}
.lstest{
  text-transform: uppercase;
  font-size: 18px;
  margin: 20px;
}
.leaning_style{
  margin: 20px;
}
.yeschef{
  margin: 20px;
  color: #6d2459;
  font-size: 30px;
  background-color:#2a2727;
  text-align: center;
  padding-bottom: 25px;

}
.overview{
  color: #a1a9b5;
  font-size: 20px;
  margin: 20px
}
.motivation{
  color: #a1a9b5;
  font-size: 20px;
  margin: 20px
}
.description{
  color: #a1a9b5;
  font-size: 20px;
  margin: 20px
}
.destab{
  color: #a1b1be;
  font-size: 20px;
  margin-left: 60px;
}
.toolstech{
  color: #a1b1be;
  font-size: 20px;
  margin-left: 20px;
}
.skills{
  font-size: 20px;
  color: #a1b1be;
  margin-left: 20px;
  }
.outcome{
  font-size: 20px;
  color: #a1b1be;
  margin-left: 20px;
}
.top{
  width: 100%;
  background-color: #2a2727;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
  margin: 20px;
}
.refrence{
  background-color: black;
  margin: 20px;
  font-size: 20px;


}
